body {
    width: 60%;
    background-repeat:no-repeat;
    background-color:azure;
    text-align: center;
    margin: auto;
    border: 3px;
    padding: 10px;
}

img {
    width: 70%;
}
h1 {
    font-size: 3em;
    text-align: justify, center;
    font-family: 'Muli', sans-serif;
}
h2 {
    font-size: 1.5em;
    text-align: justify, center;
    letter-spacing: .025em;
    font-family: 'Muli', sans-serif;
}
p {
    width: 70%;
    line-height: 1.5;
    letter-spacing: .025em;
    margin: auto;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Muli', sans-serif;
    text-align: justify;
    
}