head {
    font-family: 'Kalam', cursive;
}
header {
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 30px;
    margin: 20px;
    padding: 30px;
    text-align: center;
}
body {
    cursor: url(../images/navi.png), auto;
    margin: 20px;
    padding: 20px;
    background-image: url(zelda_img/ruppee_background.png);
    font-family: 'Kalam', cursive;
}
section {
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
h2 {background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
h3 {
    text-align: center;
    padding: 9px;
}