head {
    font-family: 'Kalam', cursive;
}
header {
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 30px;
    margin: 20px;
    padding: 30px;
    text-align: center;
}
body {
    cursor: url(../images/navi.png), auto;
    margin: 20px;
    padding: 20px;
    background-image: url(zelda_img/ruppee_background.png);
    font-family: 'Kalam', cursive;
}
section#time{
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
section#mask {
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
section#twilight {
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
h2 {background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
h3 {
    text-align: center;
    padding: 9px;
}
img#timetitle {
    display: block;
    padding: 5px;
    width: 300px;
    margin: auto;
}
img#timetemple {
    display: block;
    padding: 5px;
    width: 400px;
    margin: auto;
}
img#twilight {
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#wolflink{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#wolf {
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#fourtitle{
    display: block;
    padding: 5px;
    width: 400px;
    margin: auto;
}
img#masktitle {
    display: block;
    padding: 5px;
    width: 600px;
    margin: auto;
}
section#foursword {
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
section#wild {
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
img#wildtitle {
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#wildride {
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#shade {
    display: block;
    padding: 5px;
    width: 300px;
    margin: auto;
}
img#blue {
    display: block;
    padding: 5px;
    width: 400px;
    margin: auto;
}
img#red {
    display: block;
    padding: 5px;
    width: 400px;
    margin: auto;
}
img#green{
    display: block;
    padding: 5px;
    width: 400px;
    margin: auto;
}
img#deku {
    display: block;
    padding: 5px;
    width: 400px;
    margin: auto;
}
img#vio {
    display: block;
    padding: 5px;
    width: 400px;
    margin: auto;
}
img#mask {
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}