head {
    font-family: 'Kalam', cursive;
}
header {
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 30px;
    margin: 20px;
    padding: 30px;
    text-align: center;
}
body {
    cursor: url(../images/navi.png), auto;
    margin: 20px;
    padding: 20px;
    background-image: url(zelda_img/ruppee_background.png);
    font-family: 'Kalam', cursive;
}
h2 {
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
h3 {
    text-align: center;
    padding: 9px;
}
section#wind {
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
img#wind_title {
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#siblings {
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#roost {
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#castle{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#outset{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#makar{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#bye{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
section#phantom{
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
img#phantom_title{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#linebeck{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#bellum{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
section#spirit{
    padding: 25px;
    margin: 20px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}
img#spirit{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#tracks{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#boss{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
img#map{
    display: block;
    padding: 5px;
    width: 500px;
    margin: auto;
}
footer {
    padding: 5px;
    margin: 5px;
    background-color: antiquewhite;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
}