head {
    font-family: 'Kalam', cursive;
}
header {
    margin: 20px;
    padding: 30px;
    text-align: center;
}
body {
    cursor: url(../images/navi.png), auto;
    margin: 20px;
    padding: 20px;
    background-image: url(zelda_img/danger.jpeg);
    font-family: 'Kalam', cursive;
    color:crimson;
    text-align: center;
}
.button{
    background-color: lightgreen;
    border-color: darkgreen;
    border-style: solid;
    border-width: thick;
    border-radius: 13px;
    font-size: 16px;
    margin: 17px;
    padding: 2px;
    text-align: center;
}