header{
    background-color: darkseagreen;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
body {
    margin: 12px;
    background-image: url(images/rosebackground.jpg);
}

img {
    width: 100%
}

@media only screen and  (max-width:500px){
    body {
        width: 80%;
        padding: 2% 2%;
    }
    img {
        max-width: 500px;
    }
}
section {
    padding: 25px;
    margin: 20px;
    background-color: darkseagreen;
    border-style: solid;
    border-width: 7px;
    border-color: darkgreen;
}
footer {
    padding: 5px;
    margin: 19px;
    background-color: darkseagreen;
    border-style: solid;
    border-width: 7px;
    border-color: darkgreen;
}